

// roboto-regular - latin-ext_latin
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'), // Local font if device has it installed.
		url('/assets/fonts/roboto-v29-latin-ext_latin-regular.woff2') format('woff2'), // Chrome 26+, Opera 23+, Firefox 39+
		url('/assets/fonts/roboto-v29-latin-ext_latin-regular.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

// roboto-700 - latin-ext_latin
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Roboto Bold'), // Local font if device has it installed.
		url('/assets/fonts/roboto-v29-latin-ext_latin-700.woff2') format('woff2'), // Chrome 26+, Opera 23+, Firefox 39+
		url('/assets/fonts/roboto-v29-latin-ext_latin-700.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}


body {
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	color: #000000;
	font-size: 12pt;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
	color: blue;
}

p {
	line-height: 1.6;
}

.dark-mode {
	body {
		background-color: #111;
		color: white;
	}

	a {
		color: yellow;
	}

	nav, article, footer {
		border: 2px solid white;
		background-color: #245667;
	}

	nav {
		a:hover {
			background-color: #111;
		}
	}

	// Invert comic images (white -> black, black -> white)
	.comic {
		filter: invert(1);
	}
}

nav, article, footer {
	border: 2px solid black;
	background-color: lightblue;
	border-radius: 5px;
	margin: 20px auto;
	max-width: 1280px;
	padding: 7px;
}

footer {
	text-align: center;

	p {
		margin-bottom: 0;
	}
}

.title {
	text-align: center;
	font-size: 42pt;
	margin-top: 20px;

	a {
		text-decoration: none;
	}
}

nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 25px 15px;
	font-size: 14pt;

	#hamburger-btn {
		display: none;
	}

	a {
		display: inline-block;
		//border: 2px solid pink;
		padding: 10px 20px;

		&:hover { background-color: #eee; }
	}
}

// Make navigation bar vertical on mobile
@media (max-width: 640px) {
	nav {
		display: block;

		a {
			display: none;
		}

		#hamburger-btn {
			// "Three lines" vector icon, inlined into CSS for performance.
			// (Light mode - icon is black)
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 96 960 960' width='48'%3E%3Cpath d='M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z' fill='black' /%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: right;

			&:hover {
				filter: invert(0.5);
			}
		}

		#hamburger-btn, .show-mobile {
			display: block;
		}
	}

	.dark-mode nav #hamburger-btn {
		// (Dark mode - icon is white)
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 96 960 960' width='48'%3E%3Cpath d='M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z' fill='white' /%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: right;
	}
}

$btnbg: #fafafa;

#toggledarkmode {
	background-color: $btnbg;
	border: 2px solid black;
	font-size: 14pt;
	padding: 7px 15px;

	&:hover {
		background-color: darken($btnbg, 10%);
	}

	&:active {
		background-color: darken($btnbg, 25%);
	}
}

.comiccontainer {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

	img {
		flex: 0 0 auto;
	}
}
