<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

	{% seo %}
	
	<link rel="stylesheet" href="/assets/style.css">
	<script src="/assets/script.js"></script>
</head>
<body>
	<header>
		<div class="title"><a href="/">{{ site.title }}!!</a></div>

		<nav>
			<a href="#" id="hamburger-btn">&nbsp;</a>
			<a href="/">Home</a>
			<a href="/comiclist/">Comic List</a>
			<a href="/topics/">Topics</a>
			<a href="/characters/">Characters</a>
			<a href="/about/">About</a>
			
		</nav>
	</header>
	
	<article class="container">
		{{ content }}
	</article>

	<footer>
		<button id="toggledarkmode">toggle dark mode</button>

		<p>Someday this footer might have something witty in it...</p>
	</footer>	
</body>
</html>
